* { 
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: #7FAD71 url('http://i.imgur.com/qlgoLVk.png') repeat-x center bottom;
  background-size: cover;
  overflow-y: auto;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}

body > section {
  flex: 1;
  overflow-y: auto;
}

div + div {
  margin-bottom: 2px;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
}

section {
  min-width: 100%;
  max-width: 500px;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.footer > a {
  color: #05E2FD!important;
}

.pulse {
  transition: padding;
  color: red;
  text-shadow: none;
  -webkit-animation: pulse 20s steps(1, end) infinite;
  animation: pulse 20s steps(1, end) infinite;
  -webkit-font-smoothing: none;
}

.fa-heart:after {
  content: "\f08a";
  color: black;
  margin-left: -18px;
  font-weight: bold;
}

@keyframes pulse {
  0% { 
    transform: scale(1);
  }
  0.5% { 
    transform: scale(1.25);
  }
  1% {
    transform: scale(1);
  }
  1.5% { 
    transform: scale(1.25);
  }
  2% {
    transform: scale(1);
  }
  2.5% {
    transform: scale(1.25);
  }
  3% {
    transform: scale(1.5);
  }
  3.5% {
    transform: scale(1.25);
  }
  4% {
    transform: scale(1.5);
  }
  4.5% {
    transform: scale(1.25);
  }
  5% {
    transform: scale(1.5);
  }

  30.5% { 
    transform: scale(1.25);
  }
  31% {
    transform: scale(1.5);
  }
  31.5% { 
    transform: scale(1.25);
  }
  32% {
    transform: scale(1.5);
  }
  32.5% {
    transform: scale(1.25);
  }
  33% {
    transform: scale(1);
  }
  33.5% {
    transform: scale(1.25);
  }
  34% {
    transform: scale(1);
  }
  34.5% {
    transform: scale(1.25);
  }
  35% {
    transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% { 
    -webkit-transform: scale(1);
  }
  0.5% { 
    -webkit-transform: scale(1.25);
  }
  1% {
    -webkit-transform: scale(1);
  }
  1.5% { 
    -webkit-transform: scale(1.25);
  }
  2% {
    -webkit-transform: scale(1);
  }
  2.5% {
    -webkit-transform: scale(1.25);
  }
  3% {
    -webkit-transform: scale(1.5);
  }
  3.5% {
    -webkit-transform: scale(1.25);
  }
  4% {
    -webkit-transform: scale(1.5);
  }
  4.5% {
    -webkit-transform: scale(1.25);
  }
  5% {
    -webkit-transform: scale(1.5);
  }

  30.5% { 
    -webkit-transform: scale(1.25);
  }
  31% {
    -webkit-transform: scale(1.5);
  }
  31.5% { 
    -webkit-transform: scale(1.25);
  }
  32% {
    -webkit-transform: scale(1.5);
  }
  32.5% {
    -webkit-transform: scale(1.25);
  }
  33% {
    -webkit-transform: scale(1);
  }
  33.5% {
    -webkit-transform: scale(1.25);
  }
  34% {
    -webkit-transform: scale(1);
  }
  34.5% {
    -webkit-transform: scale(1.25);
  }
  35% {
    -webkit-transform: scale(1);
  }
}
